@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inconsolata&family=JetBrains+Mono:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #D6BCFF;
    text-align: center;
}

.header{
    margin-top: 100px;
}

.header h1{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.625em;
    color: #6F3CFF;
}

.body-container {
    font-family: 'Inconsolata', monospace;
    width: 818px;
    height: 428px;
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
    background: #FFFFFF;
    box-shadow: -1px 6px 55px rgba(0, 0, 0, 0.16);
    border-radius: 21px;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-left: 41px;
    width: 400px;
}

.bill-amount {
    display: flex;
    flex-direction: column;
}

.bill-amount label {
    font-size: 16px;
    width: 37px;
    height: 12px;
    font-weight: 800;
    margin-bottom: 11px;
    line-height: 16px;
    letter-spacing: 0.045em;
    color: #9C60FF;
}

.bill-amount input {
    color: #9C60FF;
    width: 327px;
    height: 43px;
    background: rgba(182, 172, 196, 0.53);
    border-radius: 3px;
    border: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 21px;
    text-align: right;
    padding-right: 15px;
}

.bill-amount input:focus {
    outline: none;
    box-shadow: 2px 2px;
}

.bill-amount i {
    position: relative;
    bottom: 30px;
    left: 15px;
    width: 20px;
    height: 18px;
    color: #9C60FF;
}

.select-tip{
    margin-top: 15px ;
    text-align: left;
}

.tip-button {
    width: 106px;
    height: 44px;
    background: #9C60FF;
    color: white;
    border-radius: 4px;
    margin: 2px;
    margin-top: 10px;
    font-size: 21px;
    font-family: 'JetBrains Mono', monospace;
    border: none;
    cursor: pointer;
}

.tip-button-active {
    opacity: 60%;
    transition: 0.6s;
}

.select-tip label {
    width: 98px;
    height: 16px;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.045em;
    color: #9C60FF;
}

.num-people {
    margin-top: 30px;
    text-align: left;
}

.num-people label {
    font-style: normal;
    
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 0.045em;
    color: #9C60FF
}

.num-div {
    margin-top: 10px;
    width: 347px;
    height: 43px;
    background: rgba(182, 172, 196, 0.53);
    border-radius: 3px;
}

.num-div div {
    display: flex;
    justify-content: right;
    font-family: 'JetBrains Mono', monospace;
}

.btn {
    width: 35px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #8E8E8E;
    border-radius: 3px;
    font-size: 21px;
    cursor: pointer;
}

.add-people {
    border-radius: 3px 0px 0 3px;
    border-right: none;
}

.remove-people {
    border-radius: 0px 3px 3px 0px;
    border-left: none;
}

.people {
    width: 30px;
    height: 31px;
    padding-top: 10px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: monospace;
    font-size: 21px;
    color: #9C60FF;
    background: #FFFFFF;
    border: 1px solid #8E8E8E;
}

.num-div i {
    position: relative;
    bottom: 30px;
    left: 20px;
    color: #7B7B7B;
}

.right-container {
    width: 367px;
    height: 370px;
    background: #9C60FF;
    border-radius: 11px;
    margin: 28px;
}

.right-div {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.top, .bottom{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    margin-top: 5px;
}

.right-div label {
    text-align: left;
    width: 87px;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.045em;
    color: #F3E4FF;
}

.right-div p {
    position: relative;
    font-weight: 600;
    bottom: 10px;
    font-size: 13px;
    line-height: 14px;
    color: #C39FFF
}

.tip-amount,
.total {
    position: relative;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: #C39FFF;
}

.generate {
    margin-top: 85px;
    width: 295px;
    height: 43px;
    background: #C39FFF;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.19em;
    color: #9C60FF;
    border: none;
    cursor: pointer;
}

.btn:hover, .generate:hover, .tip-button:hover {
    opacity: 80%;
    border: 2px solid #8b48f7;
}